/* ----- Project Page -G -------------------------------- */

.ProjectPage {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .ProjectPageWrap {
        width: 100%;
        max-width: 1900px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }


    .ProjectPageTitle {
        margin-top: 150px;
        margin-bottom: 30px;
        font-size: 90px;
        display: inline-block;
    }

    .ProjectPageText {
        font-size: 14px;
        width: 100%;
        max-width: 530px;
        line-height: 32px;
    }

    .ProjectPageImage {
        border-radius: 2px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all .5s;
    }

    .ProjectPageIntroText {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .ProjectPageLinksWrap {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .ProjectPageLink {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 900;
        
    }
        .ProjectPageLink:hover {
            color: #c0dde1;
        }

    .TextBolder {
        font-weight: 900;
    }






/* ---- Project Hero --------------- */
    .ProjectPageImage-Hero {
        width: 100%;
        height: 30vw;
        margin-bottom: 140px;
    }

            .ProjectPageImage1 {
                background: url('../Assets/Images/Project1/Project1Hero-Portfolio.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .Project2Hero {
                background: url('../Assets/Images/Project2/Project2-Hero.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .Project3Hero {
                background: url('../Assets/Images/Project3/Project3-Hero.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .Project4Hero{
                background: url('../Assets/Images/Project4/Project4-Hero.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
    





    /* ---- Project Section 1 - Side By Side--------------- */
    .ProjectPageSection1 {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 140px;
    }

        .ProjectPageSection1-TextWrap {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 40px;
            
        }

        .ProjectPageSection-Title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .ProjectPageSection-Text {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            max-width: 530px;
            line-height: 32px;
        }

        .ProjectPageSection1ImageWrap {
            width: 50%;
            height: 25vw;
        }

        .Specialized-Image1 {
            width: 100%;
            height: 100%;
            background: url('../Assets/Images/Project2/Specialized-SidebySide.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .Project1-Image1 {
            width: 100%;
            height: 100%;
            background: url('../Assets/Images/Project1/Project1Section1Image.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .Project2-Image1 {
            width: 100%;
            height: 100%;
            background: url('../Assets/Images/Project1/Project1Section1Image.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .Project4-Image1 {
            width: 100%;
            height: 100%;
            background: url('../Assets/Images/Project4/Project4-Image1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }









    /* ---- Project Section 2 - DesktopView --------------- */
    .ProjectPageSection2 {
        width: 100%;
        height: 50vw;
        margin-bottom: 80px;
        position: relative;
    }

        .ProjectPageSection2-DesktopWindow {
            width: 100%;
            height: 100%;
            position: relative;
        }

            .DesktopWindow-Back {
                position: absolute;
                width: 100%;
                height: 98%;
                top: 0;
                background-color: #F0F0F0;
                display: flex;
                justify-content: center;

            }

                .Project3-DesktopBacker {
                    background-color: #2B2B2B;
                }

            .DesktopWindow-BackImage {
                width: 100%;
                height: 85%;
                position: absolute;
                top: 0;
                margin-top: 9%;
                background: url('../Assets/Images/Project1/Project1DesktopWindow.png');
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 2px 2px 10px  rgba(0, 0, 0, .15); 
            }

            .Specialized-Desktop1 {
                background: url('../Assets/Images/Project2/Specialized-DesktopLanding.png');
                background-position: top;
                background-size: contain;
                background-repeat: no-repeat;
            }

                .Project1-DesktopTop2 {
                    background: url('../Assets/Images/Project1/Project1-DesktopDisplay2Image.png');
                    background-position: top;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .Project4-Desktop1 {
                    width: 100%;
                    height: 95%;
                    background: url('../Assets/Images/Project4/Project4-DesktopView1.png');
                    background-position: top;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

            .DesktopWindow-Top {
                position: absolute; 
                width: 100%;
                height: 15%;
                background-color: #212121;
            }

            .DesktopWindow-TopBrowser {
                width: 100%;
                height: 50%;
                background-color: #2B2B2B;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                box-shadow: 2px 2px 10px  rgba(0, 0, 0, .05);
            }

                .DesktopWindowBrowser-Menu {
                    width: 50px;
                    height: 100%;
                    margin-left: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: all .5s;
                }

                    .DesktopWindowBrowser-MenuIcon {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        transition: all .5s;
                    }

                        #MenuIcon1 {
                            background-color: rgb(205, 85, 85);
                        }

                        #MenuIcon2 {
                            background-color: rgb(218, 204, 53);
                        }

                        #MenuIcon3 {
                            background-color: rgb(114, 225, 81);
                        }

                .DesktopWindow-Bottom {
                    width: 100%;
                    height: 7.3%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #212121;
                }

                    .Project4-Bottom {
                        height: 9%;
                    }

            @media screen and (max-width: 700px){
                .Project4-Bottom {
                    height: 12%;
                }
            }






    /* ---- Project Section 3 - Build Description - Languages--------------- */
    .ProjectPageSection3 {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
    
        .ProjectPageSection3-Text {
            width: 70%;
            max-width: 530px;
            margin-bottom: 40px;
        }

        .ProjectPageSection3LanguagesWrap {
            
        }

            .ProjectPageSection3LanguagesRow {
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;
                flex-wrap: wrap;
            }

                .ProjectPageSection3Language {
                    font-size: 18px;
                    font-weight: 700;
                }





/* ---- Project Section 4 - Responsive Displays --------------- */
    .ProjectPageSection4 {
        width: 100%;
        position: relative;
        margin-bottom: 140px;
    }

        .ProjectPageSection4Wrap {
            width: 100%;
            display: flex;
        }

            .ProjectPageSection4Left {
                width: 65%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

                .ProjectPageSection4-Text {
                    margin-bottom: 10px;
                    max-width: 530px;
                }

                .ProjectPageSection4-DisplaysWrap {
                    width: 100%;
                    height: 35%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    position: relative;
                    opacity: .95;
                }

                    .ProjectPageSection4-Display1 {
                        width: 45%;
                        height: 60%;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        
                    }
                        .ProjectPageSection4-DisplayHeader {
                            width: 100%;
                            height: 10%;
                            background-color: #2d2d2d;
                        }

                    

                     .ProjectPageSection4-DisplayDisplay {
                            width: 100%;
                            height: 90%;
                            position: relative;
                        }

                    .ProjectPageSection4-Display2 {
                        width: 30%;
                        height: 45%;
                        position: relative;
                        
                    }

                    .ProjectPageSection4-Display3 {
                        width: 10%;
                        height: 35%;
                        position: relative;
                    }

                    .ProjectPageSection4-Display4 {
                        width: 4%;
                        height: 22%;
                        position: relative;
                    }

                    .ProjectPageSection4MobileDisplay {
                    width: 80%;
                    height: 90%;
                    background: url('../Assets/Images/Project1/Project1-MobileDisplayBig.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: .95;
                }

                    .Specialized-Responsive1 {
                        background: url('../Assets/Images/Project2/Specialized-Responsive1.jpg');
                        background-position: top;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .Specialized-Responsive3 {
                        background: url('../Assets/Images/Project2/Specialized-Responsive3.jpg');
                        background-position: top;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .Specialized-Responsive4 {
                        background: url('../Assets/Images/Project2/Specialized-Responsive4Big.jpg');
                        background-position: top;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                        .Project1-ResponsiveDisplay1 {
                            background: url('../Assets/Images/Project1/Project1DisplayImage1Big.png');
                            background-position: top;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        .Project1-ResponsiveDisplay3 {
                            background: url('../Assets/Images/Project1/Project1MobileDisplay3Small.png');
                            background-position: top;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        .Project1-ResponsiveDisplay4 {
                            background: url('../Assets/Images/Project1/Project1DisplayImage1Big.png');
                            background-position: top;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }


                            .Project3-Responsive1 {
                                background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay1.png');
                                background-position: top;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }

                            .Project3-Responsive3 {
                                background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay3.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

                            .Project3-Responsive4 {
                                background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay4.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

                        .Project4-ResponsiveDisplay1 {
                            background: url('../Assets/Images/Project4/Project4-DesktopView1.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                        } 
                        .Project4-ResponsiveDisplay3 {
                                background: url('../Assets/Images/Project4/Project4-Responsive3.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                        } 
                        .Project4-ResponsiveDisplay4 {
                                background: url('../Assets/Images/Project4/Project4-Responsive4.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                        } 

            .ProjectPageSection4Right {
                width: 35%;
                height: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                

                .Project1-MobileDisplay {
                    background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay4.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .Project2-MobileDisplay {
                    background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay4.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .Project3-MobileDisplay {
                    background: url('../Assets/Images/Project3/Project3-ResponsiveDisplay4.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .Project4-MobileDisplay {
                    background: url('../Assets/Images//Project4/Project4-MobileImageBIG.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

        @media screen and (max-width: 600px){
            .ProjectPageSection4-Display1 {
                height: 60%;
            }

            .ProjectPageSection4-Display2 {
                height: 40%;
            }

            .Project4-ResponsiveDisplay1 {
                background-size: cover;
            }
        }






    /* ---- Project Section 5 DesktopView --------------- */
    .ProjectPageSection5 {
        width: 100%;
        height: 40vw;
        margin-bottom: 80px;
        position: relative;
    }

        .DesktopWindow-BackImage2 {
            background: url('../Assets/Images/Project1/Project1-DesktopDisplay2Image.png');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            opacity: .95;
            background-color: #2B2B2B;
        }

                .DesktopWindow-BackImage-Project3Display2 {
                    background: url('../Assets/Images/Project3/Project3-DesktopView2.png');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .Specialized-Desktop2 {
                    background: url('../Assets/Images/Project2/Specialized-Desktop2.jpg');
                    background-size: contain;
                    background-position: top;
                    background-repeat: no-repeat;
                }







/* ---- Project Closing --------------- */
    .ProjectPage-Closing {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 100px;
    }

        .ProjectPage-ClosingText {
            font-size: 14px;
            font-weight: 300;

        }

        .ProjectPage-ClosingProjectTitle {
            font-size: 90px;
            font-weight: 900;
        }

            .ProjectPage-ClosingLink:hover {
                color: #c0dde1;
            }




.SwitchSection2-Section3Mobile {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.ProjectPageSection-TitleMobileView {
        display: none;
        align-self: flex-start;
    }















@media screen and (max-width: 1200px){
    .DesktopWindowBrowser-Menu {
        width: 35px;
    }
    .DesktopWindowBrowser-MenuIcon {
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 1000px){
    .ProjectPageImage-Hero {
        height: 50vw;
        margin-bottom: 140px;
    }
    .ProjectPageSection1 {
        flex-direction: column;
        
    }
    .ProjectPageSection1-TextWrap {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
    .ProjectPageSection1-Text {
        width: 100%;
        max-width: 100%;
    }
    .ProjectPageSection1ImageWrap {
        width: 100%;
        height: 40vw;
        max-height: 800px;
    }
    .ProjectPage-ClosingProjectTitle {
            font-size: 10vw;
            margin: 1.3vw 0;
        }
}

@media screen and (max-width: 800px){
    .SwitchSection2-Section3Mobile {
        flex-direction: column-reverse;
    }
    .ProjectPageSection4Wrap {
        flex-direction: column-reverse;
    }
    .ProjectPageSection4Right {
        margin-bottom: 60px;
        height: 150vw;
        width: 100%;
        margin-top: 40px;
    }
    .ProjectPageSection4Left {
        width: 100%;
    }
    .ProjectPageImage-Hero {
        margin-bottom: 100px;
    }
    .ProjectPageSection-Title {
        margin-bottom: 10px;
    }
    .ProjectPageSection4-DisplaysWrap {
        height: 140px;
    }
    .ProjectPageSection3LanguagesWrap {
        margin-bottom: 40px;
    }
    .ProjectPageSection3-Text {
        width: 100%;
    }
    .ProjectPageSection1 {
        margin-bottom: 100px;
    }
    .ProjectPageSection2 {
        margin-bottom: 100px;
    }
    .ProjectPageSection3 {
        margin-bottom: 0px;
    }
    .ProjectPageSection4 {
        margin-bottom: 80px;
    }
    .ProjectPageSection4Right {
        flex-direction: column;
        margin-top: 0;
    }
    .ProjectPageSection-TitleMobileView {
        margin-bottom: 50px;
        display: block;
    }
    .ProjectPage-Closing {
        margin-top: 0;
    }
}


@media screen and (max-width: 600px){
    
    .ProjectPageTitle {
        font-size: 50px;
    }
    
    .ProjectPageIntroText {
        max-width: 100%;
    }
    .DesktopWindowBrowser-Menu {
        width: 20px;
        margin-left: 10px;
    }
    .DesktopWindowBrowser-MenuIcon {
        width: 4px;
        height: 4px;
    }
}

@media screen and (max-width: 470px){
    .ProjectPageSection3LanguagesRow {
        width: 100%;
    }   
}